<h1 id="index-head">One Three One</h1>

<div class="container-fluid" id="home-image">
  <p><%= image_tag("http://placehold.it/800x600", class: "img-responsive center-block", alt: "img") %></p>
</div>

