// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// $font-stack: verdana, arial, helvetica, sans-serif;
$font-stack: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$font-stack-alt: 'Permanent Marker', cursive;
$color-1: #250912;
$background-1: #FFFFFF;

* {
	margin: 0;
	font: 100% $font-stack;
	color: $color-1;
}

html, body {
	height: 100%;
}

h1, h2 {
	font: 100% $font-stack;
}

h1 {
	font-size: 24px;
	font-weight: bold;
}

h2 {
	font-size: 14px;
}


.navbar-default {
	background-color: #fff;
	border-color: $background-1;
	height: 50px;
}

#nav-container {
	padding-left: 330px;
	height: 100%;
}

.nav-pills>li.active>a {
	width: 120px;
    line-height: 46px;
    margin: 10px;
    background-color: #CEE2DA;
    text-align: center;
    display: inline-block;
    vertical-align: center;
	color: black;
    font-size: 14px;
}

.nav-pills>li.active>a:focus {
	color: #000000;
	background-color: #E6DFEB;
}

.nav-pills>li.active>a:hover {
	color: #000000;
	background-color: #FED700;
}

.nav-pills>li {
	float: center;
}

#search-form {
	float: right;
	margin-top: 15px;
}

#login-form {
	clear: right;
	float: right;
}

#notice {
	margin-top: 75px;
	text-align: center;
}

#alert {
	margin-top: 75px;
	text-align: center;
}

body > .container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding-top: 100px;
	margin: 0 auto -35px;
}



.footer {
    width: 100%;
    height: 30px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    padding: 15px 0px 0px 10px;
    text-align: right;
    background-color: #fff;
}

#footer-container {
	height: 100%;
	width: 100%;
	text-align: right;
	padding-top: 20px;
	bottom: 0px;
	}

p.text-muted {
	margin-top: 10px;
}

///// INDEX PAGE /////

#index-head {
	font: 100% $font-stack-alt;
	font-size: 5em;
	text-align: center;
}

///// LOGIN PAGE /////

#login-body {
	  background-color: #eee;
}

#login-block {
	padding-top: 0px;
	text-align: center;
}

///// SIGNUP PAGE /////

#signup-block {
	padding-top: 100px;
	text-align: center;
}

///// FORGOT PASS PAGE /////

#forgot-block {
	padding-left: 100px;
}

